/* stagiaire.css */
.container {
    width: 200px;
    margin-left: 10px;
    padding: 10px;
    border: 1px solid black;
    display: inline-block;
    text-align: center;


  }
  /* img {
    text-align: center;
  } */
  
  
  
  .nom {
    font-weight: bold;
   
  }
  